In [3]:
import pandas as pd
dates = pd.read_clipboard(sep="\t",         # Read data from clipboard
                          index_col=0)
dates.ix[:,0]

1    4/22/1996
2    4/23/1996
3    5/14/1996
4    5/15/1996
5    5/16/2001
6    5/17/2002
7    5/18/2003
8    5/19/2004
9    5/20/2005
Name: month_day_year, dtype: object

In [6]:
dates

  month_day_year day_month_year                 date_time year_month_day
1      4/22/1996      22-Apr-96  Tue Aug 11 09:50:35 1996     2007-06-22
2      4/23/1996      23-Apr-96  Tue May 12 19:50:35 2016     2017-01-09
3      5/14/1996      14-May-96  Mon Oct 14 09:50:35 2017     1998-04-12
4      5/15/1996      15-May-96  Tue Jan 11 09:50:35 2018     2027-07-22
5      5/16/2001      16-May-01  Fri Mar 11 07:30:36 2019     1945-11-15
6      5/17/2002      17-May-02  Tue Aug 11 09:50:35 2020     1942-06-22
7      5/18/2003      18-May-03  Wed Dec 21 09:50:35 2021     1887-06-13
8      5/19/2004      19-May-04  Tue Jan 11 09:50:35 2022     1912-01-25
9      5/20/2005      20-May-05  Sun Jul 10 19:40:25 2023     2007-06-22

In [19]:
#dates.ix[1:6,0]
print("---------------")
dates.month_day_year

---------------

1    4/22/1996
2    4/23/1996
3    5/14/1996
4    5/15/1996
5    5/16/2001
6    5/17/2002
7    5/18/2003
8    5/19/2004
9    5/20/2005
Name: month_day_year, dtype: object

In [1]:
def dummy_object(df, Object_List):
    dummy_list=[ ]
    for x in Object_List:
        df[x].fillna("Missing", inplace=True) # Missing is also maybe a option for categorize
        dummies = pd.get_dummies(df[x], prefix=x, prefix_sep="dummy") # create dummies array
        dummy_list=dummy_list.extend(list(dummies.dtypes.index))
        df = pd.concat([df, dummies], axis=1) # put together
        df.drop([x],axis=1, inplace=True)
    return dummy_list

In [11]:
column_1=pd.to_datetime(dates.ix[:,0])
pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

,day,dayofweek,dayofyear,hour,month,quarter,week,weekday,weekofyear,year
1,22,0,113,0,4,2,17,0,17,1996
2,23,1,114,0,4,2,17,1,17,1996
3,14,1,135,0,5,2,20,1,20,1996
4,15,2,136,0,5,2,20,2,20,1996
5,16,2,136,0,5,2,20,2,20,2001
6,17,4,137,0,5,2,20,4,20,2002
7,18,6,138,0,5,2,20,6,20,2003
8,19,2,140,0,5,2,21,2,21,2004
9,20,4,140,0,5,2,20,4,20,2005

In [2]:
def String_list_find(list, spec):
    result = []
    for string in list:
        if string.find(spec) != -1:
            result.append(string)
    return result

In [4]:
String_list_find(['a1','a2','b1'],'a')

['a1', 'a2']

In [5]:
def List_diffa(a, b):
    b = set(b)
    return [aa for aa in a if aa not in b]

In [6]:
List_diffa(['a','b'],['a'])

['b']